* {
  background-color: rgb(110, 127, 103);
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(240, 229, 229);
  text-align: center;
  margin: top 50em;
}

div {
  text-align: center;
}

div img {
  border-color: rgb(31, 198, 228);
  border-radius: 20%;
  width: 20%;
}

footer {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  background-color: rgb(8, 8, 7);
  text-align: center;
  color: white;
}