* {
  background-color: rgb(14, 40, 4);
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(240, 229, 229);
  text-align: center;
  margin: top 50em;
}

div {
  text-align: center;
}

div img {
  border-color: rgb(31, 198, 228);
  border-radius: 20%;
  
}